
/************ background ************/
html,body{
    height: 100vh;
    width: 100%;
    padding:0vmin;
    margin:0vmin;
    background-color: black;
    font-family: "Merriweather", serif;

}
#homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

/************ navbar ************/
#navbar{
    position: absolute;
    top: 0;
    flex-direction: row;

    align-items: center;
    width: 100%;
    display: flex;
    height: 50px;
    padding:1vmin
}

#logo{
    font-size: 25px;
    color:white;
    padding-left: 3vmin;
}
.tags{

    display: flex;
    gap: 5vmin;
    justify-content: start;
    align-items: center;
    height: 100%;
    font-size: 15px;
    padding-left: 6vmin;
    color: white;

}

/************ Main text ************/



#typewriter{

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1em;
    display: flex;
    color: white;
  font-size: 7em;
  color: white;
    font-weight: bold;
    font-family: "Merriweather", serif;
    opacity: 80%;
    margin-top: 2em;
}


#join_us_button{
    background-color: white;
    height: 2em;
    width: 5em;
    font-size: 2em;
    border-radius: 5px;
    font-family: "Merriweather", serif;
    opacity: 80%;
    margin:0vmin;
    position: absolute;
    top: 17em;
    left: 21em;
}


#company_name{
    color: white;
    font-size: 7em;
    margin-bottom: 0.5em;


}
  
/************ About Page ************/


#company_introduction{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    padding: 2em;
    gap: 2em;
}

#company_description{

    display: flex;

    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 50%;
}

#bull_image{
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;

}
#bull_image >img{

    width: 80%;
}



/************ Impact Page ************/

#impact_heading{
    color: white;
    font-size: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:3em;
}



/************ AI Features ************/

.thumbnail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 90em;
    gap: 3vmin;
    border-radius: 50px;
    padding: 2vmin;
    margin-top: 5em;
}

.thumbnail > div{
    opacity: 80%;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

#distinct_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.box_image{
    display: flex;
    /* background-color: aquamarine; */
    height: 70%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: center;
}



 .box_text{
    display: flex;
    /* background-color:antiquewhite; */
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.inner_heading{
    font-size: 3em;
}
.inner_description{
    padding: 5vmin;
}

  
/************ Mutimodal Features ************/

#multimodal_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: bisque ;
    margin-bottom: 20em;
    margin-top: 20vmin;
}

#multimodal_heading{
    font-size: 3em;
}


#multimodal{
    display: flex;
 
    justify-content: center;
    align-items: center;

    height: 20em;
    width: 90em;

    gap: 10vmin;
    margin-top: 5em;
}

#multimodal > div{
    background-color:bisque ;
    flex-direction: column;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-size: 2em;
    color:black;
}

